<% include head %>
<div class="jumbotron">
<div class="container">
  <h1>QUORIDOR <small>-- for Programming Fall 2017</small></h1>
  <p>Have fun building your own AI!</p>
  <p><a class="btn btn-primary btn-lg" href="/battle/list" role="button">Go Watch Battles</a></p>
</div>
</div>
<% include foot %>
